
.root {
    -fx-font-family: "Segoe UI", "Roboto", "System";
}


.root-pane {
    -fx-background-color: linear-gradient(to bottom, #f7f7f7, #e0e0e0);
    -fx-spacing: 15;
}


.title-label {
    -fx-font-size: 24px;
    -fx-font-weight: bold;
}


.button {
    -fx-padding: 8 16 8 16;
    -fx-background-radius: 20;
    -fx-font-size: 14px;
}


.primary-button {
    -fx-background-color: #0078d7;
    -fx-text-fill: white;
}

.secondary-button {
    -fx-background-color: #ffffff;
    -fx-text-fill: #0078d7;
    -fx-border-color: #0078d7;
    -fx-border-radius: 20;
}

.message-label {
    -fx-text-fill: #d32f2f;
    -fx-font-size: 12px;
}
